.about {
    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title {
        font-weight: 700;
        font-size: 50px;
    }
    &__info {
        font-size: 20px;
        text-align: center;
    }
    &__icons {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 75px;
    }
    &__icon-img {

    }
    &__icon-text {
        max-width: 280px;
        font-weight: 700;
        font-size: 20px;
    }

    &__videos {
        margin-top: 70px;
        display: flex;
        gap: 25px;
    }
    &__video {
        display: flex;
        border-radius: 27px;
        iframe {
            border-radius: 27px;
        }
    }

    &__specialist {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    &__specialist-title {
        font-weight: 700;
        font-size: 50px;
    }
    &__specialist-text {
        font-size: 20px;
    }
}