.news {
    background-color: #e1dede;
    padding: 70px 0;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    &__top {
        display: flex;
        gap: 37%;
        align-items: center;
        width: 100%;

        &-title {
            font-family: Google Sans;
            font-weight: 700;
            font-style: Bold;
            font-size: 50px;
            color: #00091B;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
        }
        &-btn{
            background:none;
            border: 0;
        }
    }




    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 39px;
        width: 100%;
    }

    &__card {
        display: flex;
        width: 30%;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 28px;
        background-color: #FFFFFF;
        cursor: pointer;


        &-title {
            font-family: Google Sans;
            font-weight: 500;
            font-style: Medium;
            font-size: 30px;
            color: #00091B;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            text-align: center;
            margin-top: 10px;
            max-width: 377px;

        }

        &-img {
            position: relative;
        }

        &-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-family: Google Sans;
            font-weight: 500;
            font-style: Medium;
            font-size: 20px;
            color: #FFFFFF;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            text-align: center;
            padding: 10px 20px;
            border-radius: 22px;
            background-color: #00091B;
            border: 0;

        }

    }
}