.panorama {
    background-image: url("../../assets/imgs/pamorama-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 813px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    //    padding-right: 30%;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        padding-bottom: 90px;
    }

    &__title {
        font-family: Vetren;
        font-weight: 400;
        font-size: 160px;
        color: #fff;
        // line-height: 110.00000000000001%;
        letter-spacing: -4%;
        // text-align: center;
        text-transform: uppercase;
        max-width: 795px;
    }

    &__text {
        font-family: Google Sans;
        font-weight: 500;
        font-style: Medium;
        font-size: 30px;
        color: #fff;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;

    }

    &__btns {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    &__btn1,
    &__btn2 {
        font-family: Google Sans;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: center;
        padding: 15px 30px;
        border-radius: 31px;
        border: 0;

    }

    &__btn1 {
        background-color: #00417D;
        color: #fff;
    }

    &__btn2 {
        background-color: #fff;
        color: #00417D;
    }
}

@media (max-width:900px) {
    .panorama {
        &__title {
            font-size: 130px;
        }
    }
}

@media (max-width:600px) {
    .panorama {
        align-items: flex-start;

        &__content {
            align-items: center;
            padding-top: 124px;
        }

        &__title {
            font-size: 65px;
            text-align: center;
        }
        &__text{
            font-size: 19px;

        }
        &__btns{
            flex-direction: column;
            gap: 10px;
        }
    }
}