.media {
    padding: 70px 0 90px 0;
    background-color: #e0dcdc;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }

    &__title {
        font-family: Google Sans;
        font-weight: 700;
        font-style: Bold;
        font-size: 50px;
        color: #00091B;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;

    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    &__card {
        display: flex;
        gap: 24px;
        align-items: center;

        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 83px;
        }

        &-text {
            font-family: Google Sans;
            font-weight: 500;
            font-style: Medium;
            font-size: 30px;
            color: #00091B;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            max-width: 709px;
        }

        &-date {
            font-family: Google Sans;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            color: #00091B;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            text-align: center;

        }
    }

}

@media (max-width:1024px) {
    .media {
        padding-left: 20px;

        &__card {
            max-width: 90%;
        }
    }
}

@media (max-width:824px) {
    .media {
        &__card {
            img {
                width: 250px;
            }

            &-info {
                gap: 30px;
            }
        }
    }
}

@media (max-width:600px) {
    .media {
        padding: 50px 30px;
        &__content{
            gap: 30px;
        }

        &__title{
            font-size: 24px;
        }

        &__card {
            max-width: 100%;
            gap: 10px;
            img {
                width: 160px;
            }

            &-info {
                gap: 5px;
            }

            &-text{
                max-width: 197px;
                font-size: 19px;
            }
            &-date{
                font-size: 15px;
            }
        }
    }
}