.history {
    &__content {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__title {
        font-weight: 700;
        font-size: 50px;
    }
    &__subtitle {
        margin-top: 50px;
        font-weight: 500;
        font-size: 30px;
    }
    &__info {
        margin-top: 30px;
        font-size: 20px;
    }
    &__wrap {
        display: flex;
        text-align: start;
        align-items: center ;
        gap: 80px;
    }
}